<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<h2>Comments</h2>
<div id="comments">
  <%= render @ticket.comments %>
  <%# same as %>
  <%# @ticket.comments.each do |comment| %>
    <%# render :partial => "comment", :object => comment %>
  <%# end %>
</div>

<h2>Post a Comment</h2>
<%= form_for [@ticket, Comment.new], :remote => true do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
