<div class="room">
  <h2><%= room.name %> <%= link_to "Join", room, :class => "button" %></h2>
  <% room.messages.last.try :tap do |message| %>
    <blockquote>
      <%= message.user.name %>: <%= message.body %>
      <em>- <%= time_ago_in_words message.created_at %> ago</em>
    </blockquote>
  <% end %>
  <p>
    <%= link_to 'Edit', edit_room_path(room) %>
    <%= link_to 'Destroy', room, confirm: 'Are you sure?', method: :delete %>
  </p>
</div>
