<!DOCTYPE html>
<html>
<head>
  <title><%= [@title, "Owning Chat"].compact.join(" - ") %></title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<header>
  <div class="content">
    <h1>Owning Chat</h1>
  </div>
</header>

<div id="content">
  <div class="content">
    <% [:alert, :notice].each do |type| %>
      <% if flash[type] %>
        <div class="<%= type %>">
          <%= flash[type] %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>
  </div>
</div>

<footer>
  <div class="content">
    &copy; <%= link_to raw("Marc-Andr&eacute; Cournoyer"), "http://macournoyer.com" %></a>
  </div>
</footer>

</body>
</html>
