<!DOCTYPE html>
<html>
<head>
  <title><%= [@title, "Owning Chat"].compact.join(" - ") %></title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">

<header>
  <div class="content">
    <h1>Owning Chat</h1>
    
    <nav id="menu">
      <% if user_signed_in? %>
        <%= link_to "Rooms", rooms_path %>
        <%= link_to "New Room", new_room_path %>
      <% end %>
    </nav>
    
    <nav id="utilities">
      <% if user_signed_in? %>
        <span class="greeting">Hi <%= current_user.name %>,</span>
        <%= link_to 'Edit your profile', edit_user_registration_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>
  </div>
</header>

<div id="content">
  <div class="content">
    <% [:alert, :notice].each do |type| %>
      <% if flash[type] %>
        <div class="<%= type %>">
          <%= flash[type] %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>
  </div>
</div>

<footer>
  <div class="content">
    &copy; <%= link_to raw("Marc-Andr&eacute; Cournoyer"), "http://macournoyer.com" %>.
    This app is part of the <%= link_to "Owning Rails Masterclass", "http://owningrails.com" %>.
  </div>
</footer>

</body>
</html>
